body {
  font-family: sans-serif;
  font-size: 16px;

  background: #490077;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;

  color: #ffffff;

  padding: 0px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

h3 {
  font-weight: 700;
}

a {
  color: #ffffff;
}

section {
  margin-bottom: 40px;
}

.gamelist {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  font-size: 14px;
  padding: 0px;
}

.game {
  display: inline-block;
  width: 325px;
  border: 3px solid #00e0a4;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
  background: #ffffff;
}

.game a {
  color: #490077;
}

.game h3 a {
  color: #ffffff;
  text-decoration: none;
}

.game h3 a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath fill='white' d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath fill='white' d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
  margin-left: 0.25em;
}

.game h3 a::after path {
  stroke: red;
  fill: white;
}

.game h3 a:hover {
  text-decoration: underline;
}

.game b {
  color: #008864;
}

.realimage {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.fakeimage {
  background-color: black;
  color: #fdf;
  width: 100%;
  height: 200px;
  font-size: 80px;
  text-align: center;
  display: grid;
  align-content: center;
}

.imageWrapper {
  position: relative;
  margin-bottom: 4px;
}

h3 {
  font-size: 18px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 8px 0px;
  color: #ffffff;
  background: rgba(73, 0, 119, 0.8);
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.description {
  max-height: 175px;
  overflow: auto;
}

.description p {
  margin: 0;
  padding: 6px;
}

.votes,
.provider,
.platform,
.keycount {
  text-align: center;
  margin: 0px;
  padding: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid #111;
  margin-bottom: 0px;
  font-weight: bold;
}

.votes .votesreal {
  white-space: nowrap;
}
